Wrapper
{
    width: 100%;
    height: 100%;
    background:cornflowerblue;
}
ImageViewer
{
    width: 23;
    height: 13;
    dock:top;
    background:cornsilk;
}
PokemonCard
{
    width: 23;
    height: 15;
    background: red;
    align: center middle;
}
Horizontal
{
    align: center middle;
}